<p><strong>Contact Us</strong></p>

<div class="container col-lg-6">
  <form>
    <label class="form-label">First Name</label>
    <input class="form-control" type="text" />

    <label class="form-labe">Last Name</label>
    <input class="form-control" type="text" />

    <label class="form-labe">Email</label>
    <input class="form-control" type="text" />

    <div class="row mt-3">
      <div class="col-lg-4">
        <div class="label form-label">City</div>
        <select class="form-control">
          <option>One</option>
        </select>
      </div>

      <div class="col-lg-4">
        <div class="label form-label">State</div>
        <select class="form-control">
          <option>One</option>
        </select>
      </div>

      <div class="col-lg-4">
        <div class="label form-label">Country</div>
        <select class="form-control">
          <option>One</option>
        </select>
      </div>
    </div>
  </form>
</div>
