.container{
    text-align:center;
    margin:30px 0px;
}

.profiles-container img{
    width:100%;
    border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
}

.profiles-container h4{
    margin-top:10px;
    background:#404040;
    color:#e0e0e0;
}
