<div class="container">
  <div class="header">
    <h1>About Us</h1>
    <p>
      The page you are looking for cannot be found or you don't have access to
      this page
    </p>
  </div>

  <div class="sub-header">
    <h2>Our Team</h2>
  </div>

  <div class="profiles-container mt-5">
    <div class="row">
      <div class="col-lg-4">
        <img src="../../../assets/images/aboutUs/alisia.jpg" alt="alisia" />
        <br />
        <br />
        <h3>Alisia Rush</h3>
        <h4>Front End Web Developer</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod temp
        </p>
      </div>

      <div class="col-lg-4">
        <img src="../../../assets/images/aboutUs/franky.jpg" alt="franky" />
        <br />
        <br />
        <h3>Franky Lee</h3>
        <h4>.NET/ C# Developer</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod temp
        </p>
      </div>

      <div class="col-lg-4">
        <img src="../../../assets/images/aboutUs/ladonna.jpg" alt="ladonna" />
        <br />
        <br />
        <h3>Ladonna Raeh</h3>
        <h4>Product Manager</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod temp
        </p>
      </div>
    </div>
  </div>
</div>
