<p><strong>Operators</strong></p>

<p>
  Operators in rxjs are functions that takes an observable as input and
  transforms it into a new observable and returns it. We use operators to
  manipulate the observable data stream.
</p>

<h3>Operators used here from the rxjs library</h3>

<ol>
  <li>
    <strong>Map</strong> - Applies a given project function to each value
    emitted by the source Observavle, and emits the resulting values as an
    Observable.
  </li>
  <li>
    <strong>Filter</strong> - Filter items emitted by the source Observable by
    only emittin those that satisfy a specified condition or predicate
  </li>
</ol>
