<div class="header-container">
  <h1>Learn Angular!</h1>
</div>

<div class="sub-header">
  <div class="sub-header-title">
    <h2>Popular Topics</h2>
  </div>

  <app-course-featured></app-course-featured>
  <p>
    DataBase is here:
    <a
      href="https://console.firebase.google.com/u/0/project/angulardirectory-d75ad/database/angulardirectory-d75ad-default-rtdb/rules"
    >
      FireBase DB
    </a>
  </p>

  <p>
    GitHub is here:
    <a href="https://github.com/manojjha86/complete-angular-13-course">
      Angular Tutorial Source
    </a>
  </p>
  <p>2023</p>
</div>
