<div class="header-container">
  <h1>Learn Angular!</h1>
</div>

<div class="sub-header">
  <div class="sub-header-title">
    <h2>Popular Topics</h2>
  </div>

  <div class="row mt-5">
    <div class="col-lg-4 mb-5">
      <div class="thumbnail-container">
        <div class="thumbnail-title">
          <h6>Data Sharing</h6>
        </div>
        <div class="thumbnail">
          <p>
            Used to share data between components. You can use Parent to Child,
            Child to Parent or use Subject and Service.
          </p>
          <a class="btn btn-warning" routerLink="/data-sharing">Go</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-5">
      <div class="thumbnail-container">
        <div class="thumbnail-title">
          <h6>Renderer2</h6>
        </div>
        <div class="thumbnail">
          <p>Used to manipulate DOM Elements without using native element.</p>
          <a class="btn btn-warning" routerLink="/renderer2">Go</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-5">
      <div class="thumbnail-container">
        <div class="thumbnail-title">
          <h6>NgIf</h6>
        </div>
        <div class="thumbnail">
          <p>Used to add or remove HTML Elements based on a given condition</p>
          <a class="btn btn-warning" routerLink="/ngIf">Go</a>
        </div>
      </div>
    </div>
  </div>
</div>
