<h2>Home</h2>

<div class="home-container mb-5">
  <div class="row">
    <div class="col-lg-3">
      <div class="thumbnail-container">
        <div class="thumbnail-title">
          <h6>Data Sharing</h6>
        </div>
        <div class="thumbnail">
          <p>
            Used to share data between components. You can use Parent to Child,
            Child to Parent or use Subject and Service.
          </p>
          <a class="btn btn-warning" [routerLink]="['/data-sharing']">Go</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="thumbnail-container">
        <div class="thumbnail-title">
          <h6>NgClass</h6>
        </div>
        <div class="thumbnail">
          <p>Used to style HTML elements based on a className and condition</p>
          <a class="btn btn-warning" [routerLink]="['/ngClass']">Go</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="thumbnail-container">
        <div class="thumbnail-title">
          <h6>NgFor</h6>
        </div>
        <div class="thumbnail">
          <p>Used to Loop through an array of objects</p>
          <a class="btn btn-warning" [routerLink]="['/ngFor']">Go</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="thumbnail-container">
        <div class="thumbnail-title">
          <h6>NgStyle</h6>
        </div>
        <div class="thumbnail">
          <p>
            Used to change the look & behavior of HTML Elements based on a
            condition.
          </p>
          <a class="btn btn-warning" [routerLink]="['/ngStyle']">Go</a>
        </div>
      </div>
    </div>
  </div>
  <!--end row-->

  <div class="mt-5"></div>

  <div class="row">
    <div class="col-lg-3">
      <div class="thumbnail-container">
        <div class="thumbnail-title">
          <h6>NgIf</h6>
        </div>
        <div class="thumbnail">
          <p>Used to add or remove HTML Elements based on a given condition</p>
          <a class="btn btn-warning" [routerLink]="['/ngIf']">Go</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="thumbnail-container">
        <div class="thumbnail-title">
          <h6>Renderer2</h6>
        </div>
        <div class="thumbnail">
          <p>Used to manipulate DOM Elements without using native element.</p>
          <a class="btn btn-warning" [routerLink]="['/renderer2']">Go</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="thumbnail-container">
        <div class="thumbnail-title">
          <h6>@HostListener</h6>
        </div>
        <div class="thumbnail">
          <p>
            Listens to the DOM event on the host element and it reacts to that
            event by executing an event handler method.
          </p>
          <a class="btn btn-warning" [routerLink]="['/hostListener']">Go</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="thumbnail-container">
        <div class="thumbnail-title">
          <h6>@HostBinding</h6>
        </div>
        <div class="thumbnail">
          <p>
            Binds the host element property to a variable in the directive or
            component.
          </p>
          <a class="btn btn-warning" [routerLink]="['/hostBinding']">Go</a>
        </div>
      </div>
    </div>
  </div>
  <!--end row-->

  <div class="mt-5"></div>

  <div class="row">
    <div class="col-lg-3">
      <div class="thumbnail-container">
        <div class="thumbnail-title">
          <h6>Services</h6>
        </div>
        <div class="thumbnail">
          <p>
            Services are re-usable TypeScript Classes that can be used in
            multiple components across your Angular Application.
          </p>
          <a class="btn btn-warning" [routerLink]="['/services']">Go</a>
        </div>
      </div>
    </div>
    <!--end row-->

    <div class="col-lg-3">
      <div class="thumbnail-container">
        <div class="thumbnail-title">
          <h6>Dependency Injection</h6>
        </div>
        <div class="thumbnail">
          <p>
            Allows components, decorators, classes, pipes, and injectables to
            configure the dependencies they need
          </p>
          <a class="btn btn-warning" [routerLink]="['/dependencyInjection']"
            >Go</a
          >
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
</div>
<!--end home-container-->
