<p><strong>Observables</strong></p>

<ol>
  <li>
    An observable is used to stream multiple pieces of data asynchronously. It
    is not native JavaScript and must use the rxjs library in order to perform
    tasks.
  </li>

  <li>
    Observables are functions that convert ordinary streams of data into an
    Observable stream of data.It's basically a wrapper around an ordinary stream
    of data.
  </li>
  <li>
    An observable will only provide the data if there is someone to use that
    data. If there is no one using the data, then the data will not send
    anything.
  </li>
</ol>
