<p>
  <strong>Custom Validation on Reactive Forms</strong>
  <br />
  An example is found in the code below using<strong>
    "firstname" and "lastname"</strong
  >
  form fields
</p>
<p>
  <strong>Async Validator</strong>
  <br />
  Used when we need to send HTTP request to the server to check if the data is
  valid.
  <br />
  An example can be found on the
  <em> <strong>email input Element</strong> below.</em>
</p>

<p>
  <strong>Value Changes</strong>
  <br />
  Triggers whenever a change is detected. An example is being used on the
  <strong><em>"firstname</em></strong> input field.
</p>

<p>
  <strong>Status Changes</strong>
  <br />
  A property of AbstractControl that emits an event every time when the
  validation status of the control is recalculated. You can see it in the
  console and ngClass has been added to see it in action!
</p>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="form myForm" [ngClass]="formStatus">
        <h4 id="registration">Reactive Form</h4>

        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
          <div formGroupName="personalDetails">
            <label for="fname">First Name</label>
            <input
              type="text"
              id="fname"
              formControlName="firstname"
              placeholder="Your name..."
            />
            <div>
              <small
                *ngIf="
                  reactiveForm.get('personalDetails.firstname')?.errors?.[
                    'required'
                  ] && reactiveForm.get('personalDetails.firstname')?.touched
                "
                >First name is a required field
              </small>
              <small
                *ngIf="
                  reactiveForm.get('personalDetails.firstname')?.errors?.[
                    'noSpaceAllowed'
                  ]
                "
                >First name cannot contain a space.</small
              >
            </div>

            <label for="lname">Last Name</label>
            <input
              type="text"
              id="lname"
              formControlName="lastname"
              placeholder="Your lastname..."
            />

            <label for="lname">Email</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder="Your Email..."
            />

            <div>
              <span
                style="color: red"
                *ngIf="
                  !reactiveForm.get('personalDetails.email')?.valid &&
                  !reactiveForm.get('personalDetails.email')?.untouched
                "
                >The email you entered is not valid</span
              >
            </div>
          </div>

          <label for="country">Country</label>
          <select id="country" formControlName="country">
            <option value="tanzania">Tanzania</option>
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
          </select>

          <label for="gender">Gender</label>
          <br />
          <input type="radio" id="male" value="male" formControlName="gender" />
          <label for="male">Male</label>

          <input
            type="radio"
            id="female"
            value="female"
            formControlName="gender"
          />
          <label for="female">Female</label>

          <input
            type="radio"
            id="other"
            value="other"
            formControlName="gender"
          />
          <label for="other">Other</label>
          <br /><br />

          <label>Hobbies<i>(optional)</i></label>
          <div class="form-inline">
            <label
              ><input
                type="checkbox"
                value="sports"
                formControlName="hobbies"
                checked
              />Sports</label
            >
            <label
              ><input
                type="checkbox"
                value="movies"
                formControlName="hobbies"
              />Movies</label
            >
            <label
              ><input
                type="checkbox"
                value="music"
                formControlName="hobbies"
              />Music</label
            >
          </div>
          <br />

          <div formArrayName="skills">
            <ng-container
              *ngFor="let skill of skillsFormArray.controls; let i = index"
            >
              <input
                type="text"
                placeholder="add skill.."
                formControlName="{{ i }}"
              />
            </ng-container>
            <br />
            <button class="btn btn-success" (click)="addSkills()">
              + Add Skills
            </button>
          </div>

          <input type="submit" value="Submit" id="btn" />
        </form>
      </div>
    </div>

    <div class="col-lg-6">COl Two</div>
  </div>
</div>
