<p><strong>Services</strong></p>

<p>Advantages of using a Service</p>
<ol>
  <li>Services are easier to debug and test</li>
  <li>Services provides re-usable code</li>
  <li>Services can communicate across different components</li>
</ol>

<p>
  <strong
    >We have two components here that will function using the same
    service</strong
  >
</p>

<div class="row">
  <div class="col-lg-3">
    <app-service-component-a></app-service-component-a>
  </div>
  <div class="col-lg-3">
    <app-service-component-b></app-service-component-b>
  </div>
</div>
